<!DOCTYPE html>
<html>
<head>
  <title>Wizards n Shit</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
  <style>

    h1 {
      color: white;
      font-family: "Arial Black";
      font-size: 400%;
      text-align:center
    }
    p  {
      color: white;
      font-family: "Arial Black";
      font-size: 150%;
      text-align:center
    }

    a:link {
      color: #CBCBCB;
      font-size: 100%;
      font-family: "Arial Black";
      text-align:center
    }
    a:visited {
      color: #CBCBCB;
      font-size: 100%;
      font-family: "Arial Black";
      text-align:center
    }

    

  </style>
  <p>
    <a href="/students" >All Wizards</a>  
  </p>
  <p>
    <a href="/students/new">Build your own Lizard</a>
  </p>

  <%= yield %>
</body>
</html>