<h1>Enrol Student</h1>

<form action="/students" method="post" >
  <p>
    <label>
      First Name:
      <input type="text" name="first_name" />
    </label>
  </p>

  <p>
    <label>
      Last Name:
      <input type="text" name="last_name" />
    </label>
  </p>

  <p>
    <label>
      
      <select name="house" >
        <option value="Hufflepuff" >Hufflepuff</option>
        <option value="Gryffindor" >Gryffindor</option>
        <option value="Slytherin" >Slytherin</option>
        <option value="Ravenclaw" >Ravenclaw</option>
      </select>
    </label>
  </p>

  <p>
    <label>
      Age:
      <input type="number" name="age" />
    </label>
  </p>
    

  <p><input type="submit" value="Enrol" /></p>
</form>