<h1>Enrol Student</h1>

<form action="/students" method="post" >
  <p>
    <label>
      First Name:
      <input type="text" name="first_name" />
    </label>
  </p>

  <p>
    <label>
      Last Name:
      <input type="text" name="last_name" />
    </label>
  </p>

  <p>
    <label>

      <select name="house_name" >
        <% @house_names.each do |house| %>
        <option value="<%=house%>"><%=house%></option>
        <%end%>
      </select>
    </label>
  </p>

  <p>
    <label>
      Age:
      <input type="number" name="age" />
    </label>
  </p>


  <p><input type="submit" value="Enrol" /></p>
</form>