<h1>Make New House</h1>

<form action="/house" method="post" >
  <p>
    <label>
      House Name:
      <input type="text" name="house_name" />
    </label>
  </p>

  <p><input type="submit" value="Create House" /></p>
</form>